@model IQueryable<ThunderDuckGroup.Models.Td_BrandMaker_Slider>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/ThunderDuckBrandMaker/_LayoutWebmaster.cshtml";
    string[] arrStr;
}

<div class="main-wrapper">
    <div class="container">

        <!-- Start breadcrumb section  -->
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/webmasterbrandmaker/index">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Quản lý trang chủ</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Start form -->
        <div class="form-area">
            <div class="row">

                <div class="col-lg-12">
                    <div class="single-form">
                        <div class="section-head">
                            <div class="title">
                                <h4>Chỉnh sửa Slider</h4>
                            </div>
                        </div>

                        <div class="section-body">
                            <form action="/homepagebrandmaker/edit" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Email (VUI LÒNG NHẬP DƯỚI 100 KÍ TỰ)</label>
                                    <input maxlength="100" type="text" class="form-control" placeholder="" name="email" value="@Model.FirstOrDefault().Email">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Phone (VUI LÒNG NHẬP DƯỚI 50 KÍ TỰ)</label>
                                    <input maxlength="50" type="text" class="form-control" placeholder="" name="phone" value="@Model.FirstOrDefault().Phone">
                                </div>

                                @if (Model.FirstOrDefault().Logo != null)
                                {
                                    if (Model.FirstOrDefault().Logo.Contains(","))
                                    {
                                        arrStr = Model.FirstOrDefault().Logo.Split(',');
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">Thay đổi hình Logo (VUI LÒNG THÊM HÌNH VỚI KÍCH CỠ 180X65 HOẶC LỚN HƠN)</label>
                                            <br />
                                            <input type="file" name="logo" accept="image/*"/>
                                            <div class="row">
                                                @foreach (var logo in arrStr)
                                                {

                                                    <div class="col-sm-3 bg-slider" style="background: url('../../Images/ThunderDuckGroup/imageHome/@logo')     ;">
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-group">
                                            <label for="exampleFormControlFile1">Thay đổi hình logo (VUI LÒNG THÊM HÌNH VỚI KÍCH CỠ 180x65 HOẶC LỚN HƠN)</label>
                                            <br />
                                            <input type="file" name="logo" accept="image/*"/>
                                            <div class="row">
                                                <div class="col-sm-3 bg-slider" style="background: url('../../Images/ThunderDuckGroup/imageHome/@Model.FirstOrDefault().Logo') center center no-repeat;">
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label for="exampleFormControlFile1">Thay đổi hình logo (VUI LÒNG THÊM HÌNH VỚI KÍCH CỠ 1920x720 HOẶC LỚN HƠN)</label>
                                        <br />
                                        <input type="file" name="logo" accept="image/*"/>
                                    </div>
                                }

                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Video (VUI LÒNG NHẬP DƯỚI 200 KÍ TỰ)</label>
                                    <input maxlength="200" type="text" class="form-control" placeholder="" name="video" value="@Model.FirstOrDefault().Video">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Tiêu đề (VUI LÒNG NHẬP DƯỚI 150 KÍ TỰ)</label>
                                    <input maxlength="150" type="text" class="form-control" placeholder="" name="title" value="@Model.FirstOrDefault().Title">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Nội dung (VUI LÒNG NHẬP DƯỚI 200 KÍ TỰ)</label>
                                    <input maxlength="200" type="text" class="form-control" placeholder="" name="des" value="@Model.FirstOrDefault().Description">
                                </div>
                                <input class="btn btn-primaryt" type="submit" value="Lưu" />
                            </form>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("input[type='submit']").click(function () {
            var $fileUpload = $("input[type='file']");
            if (parseInt($fileUpload.get(0).files.length) > 3) {
                alert("Bạn chỉ được Upload tối đa 8 tấm hình");
            }
        });
    })
</script>
