@model IQueryable<ThunderDuckGroup.Models.Td_Construction_Contact>
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/ThunderDuckConstruction/_LayoutWebmaster.cshtml";
}

<div class="main-wrapper">
    <div class="container">

        <!-- Start breadcrumb section  -->
        <div class="row">
            <div class="col-lg-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/webmasterconstruction/index">Trang chủ</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa trang chủ</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Start form -->
        <div class="form-area">
            <div class="row">

                <div class="col-lg-12">
                    <div class="single-form">
                        <div class="section-head">
                            <div class="title">
                                <h4>Chỉnh sửa liên hệ</h4>
                            </div>
                        </div>

                        <div class="section-body">
                            <form action="/contactconstruction/edit" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Trụ sở chính (VUI LÒNG NHẬP DƯỚI 300 KÍ TỰ)</label>
                                    <input maxlength="300" type="text" class="form-control" placeholder="" name="head" value="@Model.FirstOrDefault().HeadAddress">
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Văn phòng giao dịch (VUI LÒNG NHẬP DƯỚI 300 KÍ TỰ)</label>
                                    <input maxlength="300" type="text" class="form-control" placeholder="" name="office" value="@Model.FirstOrDefault().OfficeAddress">
                                </div>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput4">Email 1</label>
                                            <input type="text" class="form-control" placeholder="" name="email" value="@Model.FirstOrDefault().Email">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput4">Email 2</label>
                                            <input type="text" class="form-control" placeholder="" name="email1" value="@Model.FirstOrDefault().Email1">
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput4">Email 3</label>
                                            <input type="text" class="form-control" placeholder="" name="email2" value="@Model.FirstOrDefault().Email2">
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput4">Phone 1</label>
                                            <input type="text" class="form-control" placeholder="" name="phone" value="@Model.FirstOrDefault().Phone">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="exampleFormControlInput4">Phone 2</label>
                                            <input type="text" class="form-control" placeholder="" name="phone1" value="@Model.FirstOrDefault().Phone1">
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="exampleFormControlInput4">Hotline</label>
                                    <input type="text" class="form-control" placeholder="" name="hot" value="@Model.FirstOrDefault().Hotline">
                                </div>
                                <input class="btn btn-primaryt" type="submit" value="Lưu" />
                            </form>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $("input[type='submit']").click(function () {
            var $fileUpload = $("input[type='file']");
            if (parseInt($fileUpload.get(0).files.length) > 3) {
                alert("Bạn chỉ được Upload tối đa 3 tấm hình");
            }
        });
    })
</script>


